* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

hr {
    border: 0px rgb(109, 176, 214);
    height: 1px;
    background-color: rgb(109, 176, 214);
}

.nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: white;
    color: rgb(109, 176, 214);
    align-items: center;
    z-index: 100;
    position: fixed;
    width: 100%;
}

#logo {
    flex: 2;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 35px;
    padding-left: 20px;
}

#nav-items {
    flex: 1;
    display: flex;
    justify-content: center;
}

#nav-items ul {
    list-style: none;
    display: flex;
    
}

#nav-items ul li {
    margin-right: 15px;
    position: relative;
}

#nav-items ul li::before{
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgb(109, 176, 214);
    height: 0.175rem;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: transform 0.3s ease;
}

#nav-items ul li:hover::before{
    transform: scale(1 , 1);
}


#nav-items ul li a {
    text-decoration: none;
    color: rgb(109, 176, 214);
    font-weight: 600;
}



.content {
    width: 75%;
    margin: auto;
    padding-top: 90px;
}

.heading-content {
    font-family: 'Nunito Sans', sans-serif;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 50px;
    padding: 10px;
    font-weight: 600;
}

.heading-description {
    margin-bottom: 10px;
}

.content-text {

    width: 84%;
    margin: auto;
    margin-top: 10px;
    line-height: 2.5ch;
    font-size: 18px;
    letter-spacing: 1.8px;
    text-align: start;
    margin-bottom: 30px;
    animation: textfadein 2s ease 0.2s;
}

.footer {
    display: flex;
    height: 100px;
    background-color: white;
    color: rgb(42, 115, 158);
    flex-direction: column;
}

.font {

    margin: auto;
}

.copyright {
    padding-bottom: 8px;
    text-align: center;
}

.fa {
    padding: 0px 20px;

}

.photo {
    margin: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.photo img {
    width: 70%;
    transition :all ease 0.2s;
}

.photo img:hover{

    transform: scale(1.1);
}

.progressbar {
    background-color: rgb(109, 176, 214);
    top: 60px;
    position: fixed;
    height: 6px;
}

@media (max-width: 750px) {
    .nav {
        display: flex;
        flex-direction: column;
        height: 80px;
    }

    #logo {
        padding-left: 0px;
        margin: 5px 0px;
    }

    .heading {
        font-size: 38px;
    }

    .heading-description {
        font-size: 15px;
    }

    .content {
        width: 95%;
        margin: auto;
    }

    .content-text {
        line-height: 2.5ch;
        font-size: 18px;
        letter-spacing: 1.3px;
    }

    .progressbar {
        top: 80px;
    }

    .photo img{
        width: 88%;
    }
}

@media (max-width: 376px) {
    .heading {
        font-size: 30px;
    }
}

@keyframes textfadein{
    0%{
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}